cleanup = true


// Pipeline parameters

params {
    // Input
    input             = null          // samplesheet CSV
    fastq_dir         = null          // alternative: dir with FASTQs
    reference         = null          // reference genome .fa (optional)
    genome            = null          // options: hg38, t2t

    // Pipeline behaviour
    min_read_support  = 3
    threads           = 32
    species           = "homo_sapiens"
    callers           = "cuteSV,sniffles2"
    mode              = null          // full | light (light = no annotation)

    // SV merging distances
    dist_intra        = 60
    dist_inter        = 60
    survivor_intra    = 60
    survivor_inter    = 100

    // Output
    outdir            = "results"
    all_prefix        = "all"
    keep_rds          = true
    enrichment_pval   = 0.05

    // Dataset comparisons
    datasets          = []
    comparisons       = [["HG00514", "NA19240"]]
}


// Execution profiles

profiles {

    // Runtime: Docker (default and only profile)
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {
            container = 'monicazh/retroinspector-nf:0.1.0'
        }
    }
        conda {
        conda.enabled    = true
        conda.useMamba   = true
        conda.mambaPath  = 'path/mamba'
        conda.cacheDir   = "${projectDir}/.conda_envs"
        docker.enabled   = false
    }
}


// Per-process resources

process {
    errorStrategy   = 'retry'
    maxRetries      = 2


    withName: 'MINIMAP2_ALIGN' {
        cpus   = 16
        memory = '48 GB'
    }

    withName: 'CUTESV' {
        cpus   = 8
        memory = '16 GB'
    }

    withName: 'SNIFFLES2' {
        cpus             = 8
        memory           = '16 GB'
    }

    withName: 'R_.*' {
        cpus             = 2
        memory           = '16 GB'
    }

    withName: 'REPEATMASKER' {
        cpus             = 16
        memory           = '32 GB'
    }

    withName: 'GET_REPEATMASKER_LIB_T2T' {
        cpus   = 16
        memory = '32 GB'
    }
}


// Execution traces

timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/timeline.html"
    overwrite = true
}
