cat > ~/tfm/retroinspector-nf/conf/test.config << 'EOF'
params {
    input        = "${projectDir}/test_data/samplesheet.csv"
    reference    = "${projectDir}/test_data/ref_small.fa"
    outdir       = "results_test"
    threads      = 4
    mode         = "full"
    all_prefix   = "test"
}

process {
    cpus   = 4
    memory = '8 GB'
    time   = '2 h'
}
EOF
